// asset-url
// @include background($color, $image, $posX, $posY, $repeat, $attachment)

@mixin font-face($name, $url-eot, $url-woff, $url-ttf, $url-svg, $weight, $style){
  // for pure sass
  /* @font-face {
    font-family: $name;
    src: url('../../hhdRails/app/assets/stylesheets/fonts/#{$url-eot}');
    src: url('../../hhdRails/app/assets/stylesheets/fonts/#{$url-eot}#iefix') format('embedded-opentype'),
      url('../../hhdRails/app/assets/stylesheets/fonts/#{$url-woff}') format('woff'),
      url('../../hhdRails/app/assets/stylesheets/fonts/#{$url-ttf}') format('truetype'),
      url('../../hhdRails/app/assets/stylesheets/fonts/#{$url-svg}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }*/

  // for rails
   @font-face {
      font-family: $name;
      src: asset-url('fonts/'+$url-eot);
      src: asset-url('fonts/'+$url-eot+'#iefix') format('embedded-opentype'),
        asset-url('fonts/'+$url-woff) format('woff'),
        asset-url('fonts/'+$url-ttf) format('truetype'),
        asset-url('fonts/'+$url-svg) format('svg');
      font-weight: $weight;
      font-style: $style;
    }
}
@mixin background($color, $image, $posX, $posY, $repeat, $attachment){
  // Default
  // color : transparent
  // repeat : repeat   -- repeat|repeat-x|repeat-y|no-repeat|initial|inherit;
  // attachment : scroll  -- scroll|fixed|local|initial|inherit
  
  // for pure sass
  // background: $color url('../../hhdRails/app/assets/images/#{$image}') $posX $posY $repeat $attachment;
  // for rails
   background: $color asset-url($image) $posX $posY $repeat $attachment;
}
