/* 
    Created on : May 4, 2014, 12:30:45 PM
    Author     : LVTD
*/
@include font-face('VNFDaxRegular', 
'vnf-dax.eot', 
'vnf-dax.woff',
'vnf-dax.ttf', 
'vnf-dax.svg#VNFDaxRegular',
normal, normal);

@include font-face('UTMFacebookK&TRegular', 
'utm-fkt-r.eot', 
'utm-fkt-r.woff',
'utm-fkt-r.ttf', 
'utm-fkt-r.svg#UTMFacebookK&TRegular',
normal, normal);

@include font-face('UTMFacebookK&TBold', 
'utm-fkt-b.eot', 
'utm-fkt-b.woff',
'utm-fkt-b.ttf', 
'utm-fkt-b.svg#UTMFacebookK&TBold',
normal, normal);

$green-standard: #229900;//#6fa112
$green-standard-hover: #A9E797;
$red-standard: #cc5700;
$border-line: 1px solid $green-standard;

$font-style1-regular: 'UTMFacebookK&TRegular';
$font-style1-bold: 'UTMFacebookK&TBold';
$font-style2:'VNFDaxRegular';

