<section class="header">
  <div class="logo">
    <%=image_tag("logo.png", alt:"logo")%>
  </div>
  <div class="main_nav">
    <div class="nav_toggle">
      <input type="checkbox" id="nav_toggle">
      <label for="nav_toggle" class="nav_toggle_label icon-th-list"></label>
    </div>
    <ul class="nav">
      <li class="active"><a href="#">Trang chủ</a></li>
      <li class="has_child">
        <a href="#">Các loại quả</a>
        <ul>
          <li class="has_child">
            <a href="#">Màu đỏ</a>
            <ul>
              <li><a href="#">Hồng đỏ</a></li>
              <li><a href="#">Bông bụp</a></li>
              <li><a href="#">Màu gà</a></li>
              <li><a href="#">Cúc đại đóa</a></li>
              <li><a href="#">Hoa phượng</a></li>
            </ul>
          </li>
          <li class="has_child">
            <a href="#">Màu trắng</a>
            <ul>
              <li><a href="#">Hoa Lài</a></li>
              <li><a href="#">Hoa Sứ</a></li>
              <li><a href="#">Hoa Lài</a></li>
              <li><a href="#">Bồ Công Anh</a></li>
              <li><a href="#">Hoa Lài</a></li>
            </ul>
          </li>
          <li class="has_child">
            <a href="#">Màu tím</a>
            <ul>
              <li><a href="#">Hoa khế</a></li>
              <li><a href="#">Hồng phấn</a></li>
              <li><a href="#">Hồng tigon</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="has_child">
        <a href="#">Giỏ Quà</a>
        <ul>
          <li><a href="#">Mận</a></li>
          <li><a href="#">Xoài</a></li>
          <li><a href="#">Mận</a></li>
          <li><a href="#">Nhãn</a></li>
          <li><a href="#">Ổi</a></li>
          <li><a href="#">Khế</a></li>
        </ul>
      </li>
      <li><a href="#">Sấy khô</a></li>
      <li><a href="#">Đặc sản vùng miền</a></li>
      <li><a href="#">Liên hệ</a></li>
    </ul>
  </div>
</section>